:root {
  --color-background: #ffffff;
  --color-background-secondary: #ffffff;
  --color-primary: #000D33; 
  --color-secondary: #009BE0;
  --color-accent: #40E3F4;
  --color-text: #000000;
  --color-shadow: #ffffff;
}
        